body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    color: white;
    background: linear-gradient(lightskyblue, lightgreen);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3, h4 {
    text-shadow: 0px 0px 2px black;
    
}

#bday-age {
    background-color: #EFb0c9;
    padding: 10px;
    border-radius: 5px;
}

#bday-date {
    background-color: #EFb0c9;
    padding: 10px;
    border-radius: 5px;
    margin: 0px;
}


#jakeimg {
    border-radius: 50%;
    width: 300px;
    border: 6px solid #EFb0c9;
}

.gift-section{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0px;
}

.gift-img{
    width: 400px;
    height: 400px;
    background-image: url("../images/giftwrap.png");
    background-size: cover;
    border-radius: 10px;
    border: 6px solid grey;
}

#gift1:hover {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHYxOWgxMmx2eHNoOWlzZ3N4NjJwamVpZjdqZXJqaGZ6dTZjODd4ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/5GoVLqeAOo6PK/giphy.gif");
}

#gift2:hover {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdndqejdzN2xkeTh1OGM5bm83c2gxa2ZoYTAxZ2t5b21wenBxMmJ6dyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QDRslrf8H3SrGxdRS0/giphy.gif");
}
#gift3:hover {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExajExZmVrZ2swaTkzY2JnajEycjU0bTMzd2t1Y3lqNHcxaGFwbGMxNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/mXnO9IiWWarkI/giphy.gif");
}
#gift4:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExeWhhd3lzb29pb3EwMmhyNm1kd2loZzF0NnJ1eTQ0MzJxZnFjaDZtaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7TKWpu2WClyXy3q8/giphy.gif");
}

#gift5{
    height: 200px;
    background-position: 50%;
}

#gift5:hover {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3ppaGVmazR5dGo4Z3YyeDh5NGNnbXEzY3l6bXluOTIwOWhxYm8xcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/8Iv5lqKwKsZ2g/giphy.gif");
}

#footer{
    width: 400px;
    margin: 40px auto 20px;
    font-style: italic;
}

#footer a{
    color: white;;
}